In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import numpy as np
import warnings
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('heart (1).csv')

In [3]:
data.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1

In [4]:
data.isnull().sum()
# so there is no null value

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [5]:
data.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [6]:
# removu=ing outliears
df1 = data[data.Cholesterol<=(data.Cholesterol.mean()+3*data.Cholesterol.std())]
df1.shape

(915, 12)

In [7]:
df2 = df1[df1.Oldpeak<=(df1.Oldpeak.mean()+3*df1.Oldpeak.std())]
df2.shape

(909, 12)

In [8]:
df3 = df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]
df3.shape

(902, 12)

In [9]:
df3.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000
mean,53.487805,131.854767,197.347007,0.232816,136.848115,0.857428,0.548780
std,9.444115,17.682612,107.585613,0.422860,25.451226,1.013157,0.497891
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.000000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,222.000000,0.000000,138.000000,0.500000,1.000000
75%,60.000000,140.000000,266.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,185.000000,518.000000,1.000000,202.000000,4.000000,1.000000

In [10]:
# converting Text col to numerical

In [11]:
data_to_dummi = data[['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope']]
data_to_dummi = pd.get_dummies(data_to_dummi,drop_first=True)

merged = pd.concat([data,data_to_dummi],axis='columns' )
lis  = []
for col in merged.columns :
    if merged[col].dtype == 'O':
        lis.append(col)
lis
merged.head(2)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,...,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,M,ATA,140,289,0,Normal,172,N,0.0,...,0,1,1,0,0,1,0,0,0,1
1,49,F,NAP,160,180,0,Normal,156,N,1.0,...,1,0,0,1,0,1,0,0,1,0

In [12]:
merged.drop(['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope'],axis='columns',inplace=True)

In [13]:
merged.info()#all are in integer formate

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                918 non-null    int64
 1   RestingBP          918 non-null    int64
 2   Cholesterol        918 non-null    int64
 3   FastingBS          918 non-null    int64
 4   MaxHR              918 non-null    int64
 5   Oldpeak            918 non-null    float64
 6   HeartDisease       918 non-null    int64
 7   Sex_M              918 non-null    uint8
 8   ChestPainType_ATA  918 non-null    uint8
 9   ChestPainType_NAP  918 non-null    uint8
 10  ChestPainType_TA   918 non-null    uint8
 11  RestingECG_Normal  918 non-null    uint8
 12  RestingECG_ST      918 non-null    uint8
 13  ExerciseAngina_Y   918 non-null    uint8
 14  ST_Slope_Flat      918 non-null    uint8
 15  ST_Slope_Up        918 non-null    uint8
dtypes: float64(1), int64(6), uint8(9)
memory usage: 58.4 KB

In [14]:
# Appling scaling and transforming data

In [15]:
from sklearn.preprocessing import StandardScaler
m = StandardScaler()
trans_data = m.fit_transform(merged.drop('HeartDisease',axis = 'columns'))
pd.DataFrame(trans_data).head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-1.43314,0.410909,0.82507,-0.551341,1.382928,-0.832432,0.515952,2.075177,-0.532838,-0.229679,0.814275,-0.490449,-0.823556,-1.002181,1.150674

In [46]:
x_train,x_test,y_train,y_test= train_test_split(trans_data,merged.HeartDisease,test_size= 0.3)

In [47]:
from sklearn.model_selection import cross_val_score

In [48]:
# classification model of support vector SVC ,standalone and also with bagging

In [55]:
model = SVC()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9057971014492754

In [56]:
cross_val_score(SVC(),x_train,y_train,cv= 5).mean()

0.8565891472868217

In [57]:
from sklearn.ensemble import BaggingClassifier
bgModel = BaggingClassifier(
    base_estimator= SVC(),
    n_estimators= 100,
    max_samples= 0.8,
    oob_score= True,
    random_state= 0
)

bgModel.fit(x_train,y_train)
bgModel.oob_score_

0.8551401869158879

In [58]:
pred = bgModel.predict(x_test)
bgModel.score(x_test,y_test)

0.8913043478260869

In [59]:
cross_val_score(BaggingClassifier(),x_train,y_train,cv= 5).mean()

0.8269985465116279

In [60]:
# decition tree classification with bagging also

In [61]:
from sklearn.tree import DecisionTreeClassifier
tModel = DecisionTreeClassifier()
tModel.fit(x_train,y_train)
tModel.score(x_test,y_test)

0.7681159420289855

In [62]:
cross_val_score(DecisionTreeClassifier(),x_train,y_train,cv= 6).mean()

0.7476635514018691

In [63]:
bgModel = BaggingClassifier(
    base_estimator= DecisionTreeClassifier(),
    n_estimators= 100,
    max_samples= 0.8,
    oob_score= True,
    random_state= 0
)

bgModel.fit(x_train,y_train)
bgModel.oob_score_

0.8348909657320872

In [64]:
pred = bgModel.predict(x_test)
bgModel.score(x_test,y_test)

0.8623188405797102

In [65]:
cross_val_score(bgModel,x_train,y_train,cv= 5).mean()

0.8550266472868217

In [66]:
# randomforest

In [67]:
from sklearn.ensemble import RandomForestClassifier
fModel = RandomForestClassifier(n_estimators=9)
fModel.fit(x_train,y_train)
fModel.score(x_test,y_test)

0.8623188405797102

In [72]:
cross_val_score(RandomForestClassifier(n_estimators= 12),x_train,y_train,cv= 5).mean()

0.8208212209302325

In [ ]:
#